

DATABASE_URL=""
JWT_SECRET=""



OPENAI_API_KEY=""
OPENAI_SUMMARY_MODEL=
OPENAI_QUIZ_MODEL=
OPENAI_QUIZ_CRITIC_MODEL=

SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

OPENAI_QUIZ_CRITIQUE_ENABLED=